extends layout

block content
  .categoryImgHolder
    .nanoImgGallery
      .nanoImg-border
        a(href='plants')
          img#nanoImg(src='images/indoor plants/indoor1.jpg')
          .centered Indoor plants
      .nanoImg-border
        a(href='others')
          img#nanoImg(src='images/indoor plants/indoor2.jpg')
          .centered Gardening tools
      .nanoImg-border
        a(href='plants')
          img#nanoImg(src='images/indoor plants/indoor3.jpg')
          .centered Indoor plants
      .nanoImg-border
        a(href='plants')
          img#nanoImg(src='images/outdoor plants/outdoor10.jpg')
          .centered Outdoor plants
      .nanoImg-border
        a(href='plants')
          img#nanoImg(src='images/indoor plants/indoor5.jpg')
          .centered Indoor plants
      .nanoImg-border
        a(href='others')
          img#nanoImg(src='images/indoor plants/indoor6.jpg')
          .centered Vase
      .nanoImg-border
        a(href='lights')
          img#nanoImg(src='images/lights/light1.jpeg')
          .centered Lights
      .nanoImg-border
        a(href='plants')
          img#nanoImg(src='images/outdoor plants/outdoor2.jpg')
          .centered Outdoor plants
      .nanoImg-border
        a(href='plants')
          img#nanoImg(src='images/outdoor plants/outdoor3.jpg')
          .centered Indoor plants

    .catText Explore the highlights of our categories
      





