extends layout

block content
  .plantImgHolder
    .plantGallery
      a(target='_blank' href='tropical')
        img(src='images/outdoor plants/outdoor2.jpg' alt='Outdoorplants' )
      .imgInfo Outdoor
    .plantGallery
      a(target='_blank' href='cacti')
        img(src='images/indoor plants/indoor11.jpg' alt='Outdoor plants' )
        .imgInfo Indoor
    .plantGallery
      a(target='_blank' href='cacti')
        img(src='images/cacti/cacti1.jpeg' alt='Indoor plants' )
      .imgInfo Cacti
    .plantGallery
      a(target='_blank' href='tropical')
        img(src='images/tropical/tropical1.jpeg' alt='Outdoorplants' )
      .imgInfo Tropical
    .plantGallery
      a(target='_blank' href='indoor')
        img(src='images/indoor plants/indoor1.jpg' alt='Indoor plants')
        .imgInfo Indoor 




